<div id = "stores" class = "btn-group">
<%= link_to "All", locations_path, class: "btn btn-primary"%>
<%= link_to "Best Buy", locations_bestbuys_path, class: "btn btn-warning"%>
<%= link_to "Costco", locations_costcos_path, class: "btn btn-danger"%>
<%= link_to "Superstore", locations_superstores_path, class: "btn btn-success" %>
<%= link_to "Walmart", locations_walmarts_path, class: "btn btn-info"%>
</div>